@font-face {
    font-family: 'Segoe UI';
    src: url(assets/SegoeUI.ttf) format('truetype');
}



body {
    background-image: url(assets/mybg.png);
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}



body * {
    user-select: none;
}



p, button, input {
    color: white;
    font-size: 0.625vw;
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
}


p:hover {
    cursor: default;
}



h5 {
    font-family: 'Segoe UI', sans-serif;
    color: white;
    margin: 0;
}



#taskbar, #taskbar-apps, #start-button, .taskbar-icon, #search-button, #taskbar-icons, #controls, .icon, .window-buttons, #rclick, .search-bar {
    display: flex;
    align-items: center;
}



#taskbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 4.444vh;
    z-index: 97;
}



#start-button {
    width: 3.889vmin;
    height: 3.889vmin;
    margin-left: 1.019vmin;
}




.taskbar-icon {
    width: 3.704vmin;
    height: 3.704vmin;
    border: none;
    justify-content: center;
    border-radius: 0.463vmin;
    margin-right: 0.37vmin;
}


.taskbar-icon img {
    width: 2.315vmin;
    height: 2.315vmin;
    pointer-events: none;
}


.taskbar-icon > p {
    display: none;
    position: fixed;
}


.taskbar-icon:hover {
    background-color: rgba(97, 97, 97, 0.25);
}



#search-button {
    width: 5.208vw;
    height: 3.241vh;
    border-radius: 5.093vh;
    background-color: rgba(97, 97, 97, 0.185);
    margin-right: 0.208vw;
}


#search-button:hover {
    background-color: rgba(97, 97, 97, 0.25);
}


#search-button svg {
    margin-right: 0.312vw;
    margin-left: 1.042vw;
    pointer-events: none;
}


#search-button p {
    pointer-events: none;
}



#taskbar-icons {
    right: 0.0vw;
    position: fixed;
    margin: 0 0.417vw;
}



#controls:active img, #clock:active p{
    opacity: .8;
}



#controls {
    margin-right: 0.0vw;
    width: 3.021vw;
}


#controls img {
    width: 1.481vmin;
    height: 1.481vmin;
}



#clock {
    width: 3.385vw;
    height: 3.704vh;
}


#clock p {
    text-align: right;
}



#icons {
    display: flex;
    flex-direction: column;
    margin-top: 0.463vh;
    row-gap: 1.389vh;
    height: calc(100vh - 4.63vh);
    width: fit-content;
    flex-wrap: wrap;
    pointer-events: none;
}



.icon {
    width: 3.906vw;
    border-radius: 0.26vw;
    flex-direction: column;
    pointer-events: all;
}


.icon p {
    text-align: center;
    margin-bottom: 0.185vh;
    pointer-events: none;
}


.icon:hover {
    background-color: rgba(97, 97, 97, 0.25);
}


.icon img {
    width: 4.028vmin;
    height: 4.028vmin;
    pointer-events: none;
    margin-top: 0.185vmin;
}



.selected {
    background-color: rgba(97, 97, 97, 0.5);
}



@keyframes shrink {
    0% {transform: scale(1);}


    100% {transform: scale(.8);}


}

@keyframes grow {
    0% {transform: scale(.8);}


    100% {transform: scale(1);}


}

.pressed img, .pressed svg {
    animation: shrink .1s ease;
    animation-fill-mode: forwards;
}



.released img, .released svg {
    animation: grow .1s ease;
}



.window {
    position: fixed;
    left: 25vw;
    top: 25vh;
    width: 88.889vh;
    height: 51.667vh;
    border-radius: 0.741vh;
    background-color: #1f1f1f;
    border: solid 0.052vw rgba(50, 63, 83, 0.6);
}


.window > p {
    margin-left: 0.26vw;
    display: inline;
}


.window iframe {
    width: 100%;
    height: calc(100% - 1.667vh);
    border: 0;
    border-radius: 0 0 0.417vw 0.417vw;
}



.window-buttons {
    right: 0;
    position: absolute;
    margin: -0.781vw 0.26vw;
}


.window-buttons p {
    width: 1.111vmin;
    height: 1.111vmin;
    font-size: 0.926vmin;
    padding: 0.0vmin;
    text-align: center;
}


.window-buttons .close:hover {
    background-color: red;
}


.window-buttons .max:hover {
    background-color: grey;
}



#box {
    background-color: rgba(15, 110, 195, .2);
    border: 0.052vw solid #106abc;
    position: fixed;
    pointer-events: none;
}



#rclick {
    position: fixed;
    background-color: #2c2c2c;
    width: 14.792vw;
    flex-direction: column;
    border-radius: 0.26vw;
    border: solid 0.052vw #36383b;
    pointer-events: all;
}


#rclick p {
    width: 14.583vw;
    margin: 0.104vw;
}


#rclick p:hover {
    background-color: #36383b;
    border-radius: 0.26vw;
}



.acrylic {
    backdrop-filter: blur(1.042vw);
}



.fullscreen {
    border-radius: 0;
    border: 0;
}


.fullscreen iframe {
    border-radius: 0;
}



.menu {
    position: fixed;
    left: 0.625vw;
    bottom: 5.741vh;
    width: 59.259vh;
    height: 66.667vh;
    background-color: rgba(19, 64, 127, .9);
    backdrop-filter: blur(2.604vw);
    border: solid 0.052vw rgba(50, 63, 83, 0.6);
    border-radius: 0.521vw;
    z-index: 99;
}


.menu h5 {
    display: inline;
    margin: 1.042vw 23.438vw 1.042vw 3.125vw;
}



.menu-button{
    display: inline-block;
    background-color: rgba(97, 97, 97, 0.2);
    height: 2.13vh;
    width: 4.167vh;
    text-align: center;
    border-radius: 0.26vw;
}



.search-bar {
    background-color: rgb(27, 40, 58);
    width: calc(100%-1.25vw);
    top: 0;
    height: 2.778vh;
    border-radius: 5.093vh;
    margin: 1.562vw 1.25vw;
}


.search-bar svg {
    margin: 0 0.521vw 0 0.781vw;
}


.search-bar input {
    background: none;
    border: none;
    width: 100%;
}


.search-bar input:focus {
    outline: none;
}