@font-face {
    font-family: 'Segoe UI';
    src: url(assets/SegoeUI.ttf) format('truetype');
}

body {
    background-image: url(assets/mybg.png);
    background-size: cover;
    background-attachment: fixed;
    margin: 0px;
}

body * {
    user-select: none;
}

p {
    color: white;
    font-size: 12px;
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
}
p:hover {
    cursor: default;
}

#taskbar, #taskbar-apps, #start-button, .taskbar-icon, #search-bar, #taskbar-icons, #controls, .icon {
    display: flex;
    align-items: center;
}

#taskbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 48px;
}

#start-button {
    width: 42px;
    height: 42px;
    margin-left: 11px;
}


.taskbar-icon {
    width: 40px;
    height: 40px;
    border: none;
    justify-content: center;
    border-radius: 5px;
    margin-right: 4px;
}
.taskbar-icon img {
    width: 25px;
    height: 25px;
    pointer-events: none;
}
.taskbar-icon:hover {
    background-color: rgba(23, 35, 53, .8);
}

#search-bar {
    width: 100px;
    height: 35px;
    border-radius: 55px;
    background-color: rgba(23, 35, 53, .6);
    margin-right: 4px;
}
#search-bar:hover {
    background-color: rgba(23, 35, 53, .8);
}
#search-bar svg {
    margin-right: 6px;
    margin-left: 20px;
}

#taskbar-icons {
    right: 0px;
    position: fixed;
    margin: 0 8px;
}

#controls:active img, #clock:active p{
    opacity: .8;
}

#controls {
    margin-right: 0px;
    width: 58px;
}
#controls img {
    width: 16px;
    height: 16px;
}

#clock {
    width: 65px;
    height: 40px;
}
#clock p {
    text-align: right;
}

#icons {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    row-gap: 15px;
    height: calc(100vh - 50px);
    width: fit-content;
    flex-wrap: wrap;
}

.icon {
    width: 75px;
    border-radius: 5px;
    flex-direction: column;
}
.icon p {
    text-align: center;
    margin-bottom: 2px;
}
.icon:hover {
    background-color: rgba(23, 35, 53, .7);
}
.icon img {
    width: 43.5px;
    height: 43.5px;
    pointer-events: none;
    margin-top: 2px;
}

@keyframes shrink {
    0% {transform: scale(1);}
    100% {transform: scale(.8);}
}

@keyframes grow {
    0% {transform: scale(.8);}
    100% {transform: scale(1);}
}

.pressed img, .pressed svg {
    animation: shrink .1s ease;
    animation-fill-mode: forwards;
}

.released img, .released svg {
    animation: grow .1s ease;
}