body {
    margin: 0;
}

.horizontal-box {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    height: 50px;
    width: 100wh;
    flex-wrap: wrap;
    pointer-events: none;
}

.horizontal-box p {
    width: 25px;
    height: 25px;
    text-align: center;
}